@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body {
    display: flex;
    flex-flow: wrap;
    background-color: #f8f8f8;
}

nav {
    background-color: white;
    display: flex;
    height: 56px;
    flex: 1 1 100vw;
    padding: 0 24px 0 24px;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

nav #menulogo {
    display: flex;
    gap: 32px;
    flex-flow: row nowrap;
    padding: 2px;
}

nav #menulogo #menu {
    display: flex;
    gap: 32px;
    flex-flow: row nowrap;
    border-radius: 50px;
}

nav #pesquisa {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 1 404px;
}

nav #pesquisa #busca {
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 15px 0 0 15px;
    padding-left: 15px;
    flex: 1 1 auto;
}

nav #pesquisa #lupa {
    height: 40px;
    width: 57px;
    flex: 0 1 auto;
    border: 1px solid #cccccc;
    border-left: 0px;
    background: #f8f8f8 url("/assets/images/nav/search.png") no-repeat center;
    border-radius: 0 15px 15px 0;
}

nav #pesquisa #lupa:active {
    height: 40px;
    width: 57px;
    flex: 0 1 auto;
    border: 1px solid #cccccc;
    border-left: 0px;
    background: white url("/assets/images/nav/search.png") no-repeat center;
    border-radius: 0 15px 15px 0;
}

nav #userinfo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 24px;
}

nav #userinfo .user {
    border-radius: 50px;
}



main {
    display: flex;
    margin-left: 75px;
    margin-top: 28px;
    flex-flow: column nowrap;
    flex: 0 1 60vw;

}

main iframe {
    display: flex;
    flex: 0 1 auto;
    height: 67.5vh;
}

main h1 {
    flex: 0 1 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    margin-top: 16px;
    align-self: flex-start;
}

main h2 {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    display: flex;
    justify-content: space-between;
    gap: 1px;   
}

main h2 div {
    display: flex;
    align-items: center;
}

main h2 img {
    border-radius: 50px;
    
}

main h2 p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-flow: column nowrap;
}

main h2 p #lowsub{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 300;
}

main h2 button {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #CC0000;
    width: 159px;
    height: 40px;
    border: 0;
    color: white;
    border-radius: 4px;
}

main h2 a {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 450;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-right: 5px;
    border-radius: 0;
    gap: 3px;
}

main h2 a img {
    border-radius: 0;
}

main #sub2 {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin-top: 4px;
    gap: 2px;
}

main #sub2 p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-weight: 250px;
}

main #sub2 #p2 {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-weight: 250px;
    width: 20vw;
    text-align: justify;
}

aside {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 1 28vw;
    margin-top: 28px;
    margin-left: 25px;
}
aside #img {
    display: flex;
    flex-flow: column;
    gap: 12px;
    
}
aside div a img {
    border-radius: 15px;
}
aside #sidetext {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

aside #sidetext h3 {
    margin-left: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    height: 90px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;    
}

aside #sidetext h3 p {
    font-size: 12px;
    display: flex;
    font-weight: 300;
    flex-flow: column;
}